{# templates/list/index.html.twig #} {% extends 'base.html.twig' %} {% block
    body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card bg-light mb-3 mt-3">
                    <div class="card-body">
                        <div class="card-header">Liste</div>
                        {% if app.user != null %}
                            <table class="table">
                                <tr>
                                    <th>Titre</th>
                                    <th>Desc</th>
                                </tr>
                                {% for key, item in list %}
                                    <tr>
                                        <td>{{ key }}</td>
                                        <td>{{ item }}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        {% endif %}
                    </div>
                </div>
                {% if app.user == null %}
                    <a href="{{ path('app_login') }}" class="btn btn-info">
                        Login pour voir la liste
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
